<style>
    .new-footer-mobile {
        padding: 20px;
        background: #10151A;
        color: #8B8B8B;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
</style>
<footer class='new-footer-mobile hidden-tablet-and-up'>
    <svg width="40" height="48" viewBox="0 0 40 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6438 0.313965H7.8193C7.47686 0.313965 7.26469 0.804266 7.5689 0.9602C7.98076 1.17122 11.058 2.44817 11.058 5.5141C11.058 8.58003 11.076 17.0889 11.09 19.8469C11.0752 22.6048 11.058 29.6056 11.058 32.5629C11.058 36.3627 8.7491 37.3681 7.69605 38.3037C7.4402 38.531 7.60323 38.95 7.94566 38.95H11.643C13.0198 38.95 14.136 37.8398 14.136 36.4705V4.89967C14.136 3.5304 14.1563 0.313965 11.6438 0.313965Z" fill="#FFFFF8"/>
        <path d="M35.2688 0.792629C34.7017 2.38843 34.1323 5.6871 33.5629 7.28368C33.4677 7.55521 33.1003 7.5971 32.9459 7.35583C32.3648 6.44738 31.236 4.88028 29.2111 4.30464C28.0628 3.97958 21.5955 2.8415 19.5479 5.10448C19.2515 5.43109 19.0417 5.7864 18.8888 6.13629C18.8678 6.17973 18.8506 6.22783 18.8319 6.27515C18.8303 6.28679 18.8264 6.29765 18.8241 6.31161C18.8085 6.34575 18.7976 6.38531 18.7874 6.4241C18.7718 6.47376 18.757 6.52496 18.7453 6.57771C18.6704 6.85312 18.608 7.14404 18.5581 7.44815C18.5425 7.53737 18.5277 7.63279 18.516 7.72356C18.5004 7.81665 18.4894 7.90819 18.4793 7.99896C18.4621 8.11456 18.4504 8.23092 18.4411 8.34884C18.4356 8.40781 18.4294 8.47064 18.4255 8.53348C18.42 8.61339 18.4138 8.69718 18.4122 8.77863C18.399 8.99896 18.3935 9.22161 18.3935 9.45125C18.3935 10.4714 18.3919 12.0447 18.388 13.2588C18.388 13.4792 18.388 13.7018 18.3865 13.9237C18.3865 14.7026 18.3826 15.4877 18.3771 16.2549C18.3771 16.5839 18.3771 16.9066 18.3732 17.2224V17.6343C18.3717 18.4341 18.3654 19.1851 18.3615 19.8476C18.3631 20.1021 18.3631 20.3837 18.3654 20.6878C19.3171 19.0936 21.0519 16.8461 23.3686 16.6118C26.7118 16.272 28.9053 17.9896 31.456 17.2386C31.4786 17.227 31.4997 17.2193 31.5192 17.2162C31.7431 17.1595 31.7368 17.4597 31.6908 17.5792C31.6908 17.5792 31.6903 17.5805 31.6892 17.5831C31.6853 17.5947 31.6775 17.604 31.6721 17.6134C30.8507 18.7041 28.9841 20.8818 26.8904 21.3472C26.8085 21.3659 26.7259 21.3814 26.644 21.393C26.5847 21.4023 26.5277 21.4101 26.4684 21.4155C26.4209 21.4209 26.3733 21.4248 26.3249 21.4287C26.2524 21.4341 26.1798 21.4365 26.1073 21.4365C26.0441 21.4365 25.9809 21.4349 25.9185 21.431C23.0378 21.2673 20.3779 19.7739 18.374 22.6645C18.3857 25.6079 18.3951 29.3627 18.3951 31.5187C18.3951 35.3813 20.0573 37.4356 21.1096 38.3495C21.3483 38.5582 21.1954 38.9515 20.8764 38.9515H17.8085C16.4333 38.9515 15.3155 37.8437 15.3155 36.4721V4.8989C15.3155 3.52885 15.0424 0.313965 17.8085 0.313965H21.952C21.952 0.313965 21.9466 0.315516 21.9427 0.319395C25.1486 0.320947 31.7399 0.327153 34.9436 0.332584C35.1823 0.332584 35.3507 0.568425 35.2704 0.792629H35.2688Z" fill="#FFFFF8"/>
        <path d="M31.6713 17.6126C30.8881 18.7297 28.9926 20.888 26.8897 21.3465C28.9833 20.881 30.8499 18.7033 31.6713 17.6126Z" fill="#FFFFF8"/>
        <path d="M31.6908 17.5784C31.7368 17.459 31.7423 17.1587 31.5192 17.2154C31.7563 17.1471 31.7672 17.4279 31.6908 17.5784Z" fill="#FFFFF8"/>
        <path d="M8.91135 41.6746L9.09388 41.8724C12.1204 42.2215 14.8599 45.6179 17.3381 46.9468C20.5082 48.6466 24.2999 46.9236 23.7009 46.6342C22.6073 46.1059 20.0698 43.7397 17.5331 44.2277C17.5331 44.2277 19.9309 43.116 19.5222 42.0865C19.5222 42.0865 18.6837 41.718 17.4169 41.3604C16.5113 41.1043 15.3857 40.8538 14.1914 40.7475C12.4215 40.59 10.4987 40.7483 8.91135 41.6746Z" fill="#FFFFF8"/>
        <path d="M39.6152 17.0082C38.3773 20.9531 40.5247 25.2262 36.1955 28.5171C36.0239 28.6482 35.7735 28.445 35.8344 28.2184C35.8531 28.1478 35.9966 27.8096 35.9966 27.8096C37.5325 23.175 34.8468 20.9275 34.7876 20.8818C34.8047 20.9043 35.0379 21.2216 34.8219 21.7119C34.6557 22.0897 34.2602 22.3139 33.6183 22.1486C32.371 21.8275 32.7626 19.5738 34.5793 19.9749C35.3375 20.144 36.0465 20.8849 36.5777 22.0424C36.6027 20.836 35.2883 19.4279 33.6222 17.9648C30.5753 15.286 30.495 11.8143 30.495 11.8143C31.236 11.8942 33.0668 12.618 33.3702 13.0494C31.5512 8.00672 28.7087 8.48538 28.7087 8.48538C28.7087 8.48538 29.4061 8.8632 29.2688 9.8213C29.1463 10.6723 28.7243 11.2007 27.5745 11.2503C25.1424 11.355 24.6034 7.38531 27.8249 7.13628C30.5722 6.92527 32.2462 8.73441 33.2337 10.954C33.4194 8.67933 34.825 7.1518 36.7376 7.08741C36.9093 7.08198 37.0411 7.29299 36.9709 7.45979C36.0114 9.7282 37.1807 11.0796 36.1838 13.3124C36.2275 13.265 37.9779 11.3232 38.0083 11.9958C38.0653 13.2363 38.4763 15.4846 37.1394 17.5172C37.2002 17.4528 38.3656 16.2154 39.4647 16.6715C39.591 16.7227 39.6597 16.8771 39.6175 17.0082H39.6152Z" fill="#FFFFF8"/>
        <path d="M6.43785 31.3402C7.49402 30.1393 6.93239 28.6304 5.55485 28.4062C4.12348 28.1765 3.38478 29.1602 3.10553 29.7592C2.15388 31.8057 2.64686 34.5683 4.31693 37.1408C3.62113 35.6435 3.56263 34.0415 5.13285 32.9508C6.87545 31.7421 8.50495 33.8437 7.33567 34.929C6.78185 35.4418 6.33644 35.3961 5.87778 35.0601C5.36608 34.6823 5.50726 34.1819 5.50726 34.1819C5.50726 34.1819 3.25685 35.2083 6.74128 39.9678C6.91289 40.1237 7.08918 40.2758 7.27015 40.4255C7.40354 40.5357 7.37155 40.8018 7.19371 40.6839C3.01738 37.898 0.812995 34.3774 0.365253 32.6521C-1.26659 26.3511 3.0517 18.9733 3.84968 13.5451C3.86918 13.4272 4.01427 13.3799 4.09774 13.4652C8.04707 17.4442 4.04235 21.9795 3.87074 22.1711C4.76701 21.445 5.64377 21.3542 6.00883 21.3519C6.10633 21.3519 6.18278 21.4334 6.17498 21.5288C5.96125 24.033 4.33721 25.1882 4.2436 25.2526C4.36373 25.2301 6.79433 24.7646 7.97296 26.3527C9.83569 28.8608 8.13911 31.6311 6.55954 31.6218C6.41445 31.6218 6.3419 31.4473 6.43707 31.3387L6.43785 31.3402Z" fill="#FFFFF8"/>
        <path d="M5.0681 9.16265C4.91053 9.24566 4.89259 9.46056 5.03144 9.57227C5.45734 9.91284 5.97685 10.5498 6.26 11.9276C6.71008 14.1176 6.65392 16.715 7.61571 18.7033C8.01587 19.5311 8.98779 20.6343 9.79357 21.1393C10.072 21.3015 10.1243 21.1393 9.96674 20.9043C7.3973 17.798 9.47844 12.7949 9.72727 9.55132C9.98234 6.22861 9.38171 4.40704 7.55642 3.14561C7.38482 3.02691 7.1508 3.165 7.17265 3.37136C7.21399 3.75771 7.22725 4.3411 7.09776 5.06724C6.85361 6.43109 6.56812 8.56839 7.4558 9.57149C7.4558 9.57149 6.07903 8.62968 5.06888 9.16265H5.0681Z" fill="#FFFFF8"/>
        <path d="M26.5846 30.3889C28.0965 29.3096 28.6151 27.455 27.7429 26.2465C26.8707 25.038 24.938 24.9332 23.4261 26.0125C21.9142 27.0918 21.3956 28.9465 22.2678 30.155C23.14 31.3635 25.0727 31.4683 26.5846 30.3889Z" fill="#FFFFF8"/>
        <path d="M36.6066 29.3852C37.5801 28.7537 38.9241 29.1595 39.6082 30.2898C40.2923 31.4209 40.0575 32.8491 39.084 33.4806C38.1105 34.1121 36.7665 33.7064 36.0824 32.5761C35.3983 31.445 35.6331 30.0167 36.6066 29.3852Z" fill="#FFFFF8"/>
        <path d="M33.9116 38.0175C32.8047 36.8871 32.4997 35.147 33.2314 34.1315C33.9631 33.116 35.4537 33.2099 36.5606 34.3402C37.6674 35.4705 37.9724 37.2106 37.2408 38.2262C36.5091 39.2417 35.0184 39.1478 33.9116 38.0175Z" fill="#FFFFF8"/>
        <path d="M28.2227 38.8476C28.3195 37.0563 29.4271 35.7188 30.6955 35.8608C31.9638 36.0027 32.9131 37.5698 32.8164 39.3611C32.7189 41.1524 31.612 42.4899 30.3437 42.3479C29.0753 42.206 28.126 40.6389 28.2227 38.8476Z" fill="#FFFFF8"/>
        <path d="M23.5987 45.0795C22.4442 44.3611 22.1439 42.4604 22.9294 40.8328C23.7141 39.206 25.2867 38.469 26.4419 39.1866C27.5964 39.905 27.8967 41.8057 27.1112 43.4333C26.3257 45.0601 24.7539 45.7971 23.5987 45.0795Z" fill="#FFFFF8"/>
        <path d="M32.4279 26.5117C34.0075 26.9306 34.8484 28.9066 34.3078 30.9259C33.7665 32.9453 32.0473 34.2425 30.4685 33.8243C28.8889 33.4054 28.048 31.4294 28.5886 29.4101C29.1299 27.3907 30.8491 26.0935 32.4279 26.5117Z" fill="#FFFFF8"/>
        <path d="M27.3298 36.8693C28.5695 35.6513 28.6627 33.7459 27.538 32.6136C26.4132 31.4812 24.4965 31.5506 23.2567 32.7686C22.017 33.9866 21.9238 35.8919 23.0486 37.0243C24.1733 38.1567 26.0901 38.0872 27.3298 36.8693Z" fill="#FFFFF8"/>
      </svg>
    <svg
      width="248"
      height="43"
      viewBox="0 0 248 43"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.1264 0.0313065H0.67432H0.0872649L0 0.161944C0 0.161944 0.614821 2.32548 0.614821 9.17435C0.614821 12.775 0.636637 17.9849 0.652504 21.3281C0.636637 24.6714 0.614821 29.8813 0.614821 33.4819C0.614821 40.3308 0 42.4943 0 42.4943L0.0793318 42.625H0.67432H7.99664C8.191 42.625 8.3814 42.625 8.57576 42.625L8.667 42.4943C8.667 42.4943 8.05217 40.3308 8.05217 33.4819C8.05217 31.0234 8.04226 27.8108 8.03036 24.9564H23.1391V20.8036H8.01251C8.00457 19.1567 7.99863 18.0759 7.99863 18.0759V18.0838V4.19012C10.9339 4.20199 14.2976 4.21387 16.852 4.21387C23.7817 4.21387 25.8959 5.26693 25.8959 5.26693L26.0149 5.20557V4.18022V0.0273438H6.1264V0.0313065Z"
        fill="white"
      />
      <path
        d="M246.561 21.4037C246.577 18.0585 246.599 12.8743 246.599 9.28953C246.599 2.44066 247.214 0.277122 247.214 0.277122L247.127 0.146484H246.542H239.219H238.634L238.547 0.277122C238.547 0.277122 239.162 2.44066 239.162 9.28953C239.162 12.8743 239.183 18.0604 239.199 21.4037C239.183 24.749 239.162 29.9331 239.162 33.5179C239.162 40.3668 238.547 42.5303 238.547 42.5303L238.634 42.6233H247.127L247.214 42.5303C247.214 42.5303 246.599 40.3668 246.599 33.5179C246.599 29.9331 246.577 24.747 246.561 21.4037Z"
        fill="white"
      />
      <path
        d="M102.328 0.0546875H102.324V5.20322L102.443 5.26458C102.443 5.26458 104.555 4.21152 111.487 4.21152C112.546 4.21152 113.744 4.21152 114.994 4.20558H116.467V18.0795L116.463 18.0518C116.463 18.0518 116.408 27.7689 116.408 33.4578C116.408 40.3066 115.793 42.4702 115.793 42.4702L115.88 42.6246H124.373L124.46 42.4702C124.46 42.4702 123.845 40.3066 123.845 33.4578C123.845 27.7689 123.789 18.0518 123.789 18.0518V18.0696L123.787 4.20558H125.259C126.509 4.20954 127.706 4.21152 128.765 4.21152C135.695 4.21152 137.809 5.26458 137.809 5.26458L137.928 5.20322V0.0546875H102.33H102.328Z"
        fill="white"
      />
      <path
        d="M150.948 0.0312783H143.04L142.953 0.161916C142.953 0.161916 143.568 2.32545 143.568 9.17432C143.568 12.7749 143.59 17.9868 143.606 21.3301C143.59 24.6734 143.568 29.8852 143.568 33.4858C143.568 40.3347 142.953 42.4982 142.953 42.4982L143.04 42.6289H146.759L147.816 42.6269L151.535 42.6289L168.958 42.6269V37.4606L168.839 37.3992C168.839 37.3992 166.727 38.4523 159.795 38.4523C157.31 38.4523 154.056 38.4622 151.176 38.474H151.136C151.059 37.1914 151.001 35.5524 151.001 33.4858C151.001 30.2475 150.983 25.7046 150.968 22.3891H166.086V18.2362H150.978C150.989 15.2532 151.001 11.7872 151.001 9.17234C151.001 7.10778 151.057 5.47079 151.136 4.18811C154.026 4.19998 157.296 4.20988 159.793 4.20988C166.723 4.20988 168.837 5.26294 168.837 5.26294L168.956 5.20158V0.0292969H150.944L150.948 0.0312783Z"
        fill="white"
      />
      <path
        d="M192.129 38.4522C189.644 38.4522 186.39 38.4621 183.51 38.474H183.278V24.5763V24.5803C183.278 24.5803 183.333 14.8632 183.333 9.1743C183.333 2.32542 183.948 0.161888 183.948 0.161888L183.861 0.03125H175.369L175.281 0.161888C175.281 0.161888 175.896 2.32542 175.896 9.1743C175.896 14.8632 175.952 24.5803 175.952 24.5803L175.958 24.5407V38.476H175.956V42.6289H201.29V37.4625L201.171 37.4011C201.171 37.4011 199.059 38.4542 192.127 38.4542L192.129 38.4522Z"
        fill="white"
      />
      <path
        d="M224.33 38.4508C221.845 38.4508 218.591 38.4607 215.711 38.4726H215.479V24.5195V24.5393C215.479 24.5393 215.537 14.8222 215.537 9.13328C215.537 2.28441 216.151 0.120884 216.151 0.120884L216.064 -0.00976562H215.479H208.157H207.572L207.484 0.120884C207.484 0.120884 208.099 2.28441 208.099 9.13328C208.099 14.8222 208.155 24.5393 208.155 24.5393L208.159 24.5155V38.4706H208.157V42.6235H233.491V37.4571L233.372 37.3958C233.372 37.3958 231.26 38.4488 224.328 38.4488L224.33 38.4508Z"
        fill="white"
      />
      <path
        d="M98.6097 18.076L91.9915 0.227399L91.9359 0.0829031H83.6021L72.7932 30.9048C72.4659 31.8173 72.1545 32.6883 71.8709 33.4801C71.3989 34.8023 70.9665 35.9484 70.5758 36.9381C70.5758 36.9381 69.0487 40.6734 67.1229 40.8238C64.8025 41.0039 63.3309 38.5593 60.6554 35.2279C59.9791 34.3312 59.4714 33.6246 59.3762 33.4444C58.9121 32.7358 54.7829 27.1518 54.0867 26.4392C53.6207 25.8374 52.8055 24.8556 51.4113 24.3588V24.1272C54.2553 23.2483 56.3298 21.7657 57.7776 20.2495C58.5174 19.4755 59.6895 18.1988 60.3817 16.156C60.9549 14.4695 60.9291 13.0443 60.9053 12.1674C60.8517 10.1998 60.3678 8.60243 59.9295 7.51967C59.9275 7.50383 59.9196 7.49196 59.9117 7.48008C59.8641 7.37715 59.8145 7.27422 59.7629 7.17129C59.4 6.45869 58.9518 5.78369 58.4123 5.15027C56.7463 3.18864 54.7214 1.84461 52.3414 1.11023C51.1693 0.749976 49.6779 0.482746 47.8671 0.300637C45.9969 0.11061 43.7835 0.0175781 41.231 0.0175781H38.0816V0.0254915H35.9138H34.8567H31.138L31.0508 0.156142C31.0508 0.156142 31.6656 2.31967 31.6656 9.16854C31.6656 12.7691 31.6874 17.979 31.7033 21.3223C31.6874 24.6656 31.6656 29.8755 31.6656 33.4761C31.6656 40.325 31.0508 42.4885 31.0508 42.4885L31.138 42.6191H31.7211L39.0752 42.6211L39.6305 42.6191L39.7178 42.4885C39.4302 39.6638 39.212 36.6551 39.103 33.4761C39.0038 30.5901 39.0018 27.8406 39.0732 25.2377C39.0831 25.2337 39.095 25.2297 39.1049 25.2258C39.1208 25.2198 39.1367 25.2159 39.1525 25.2119C39.1704 25.208 39.2259 25.1941 39.2696 25.1901C39.5968 25.1506 40.0272 25.1248 40.5845 25.1248C43.9541 25.1248 45.3503 26.6015 46.8596 28.2959C47.5597 29.0619 50.3502 33.003 50.5823 33.385C50.8698 33.8245 54.0094 39.0225 54.4755 39.6777C54.7769 40.0894 55.3303 40.8812 55.8677 41.5839C56.4449 42.34 57.385 42.6231 58.3369 42.6172C61.054 42.6033 66.8195 42.6112 68.773 42.6172H68.8603H73.0847H73.5091L73.644 42.4865C73.644 42.4865 73.7432 41.1286 74.9966 37.1678L77.9001 28.8937H94.8216C95.4225 30.5247 96.0096 32.1142 96.5134 33.4741C99.0559 40.323 99.2444 42.4865 99.2444 42.4865L99.3812 42.6172H99.3971H99.3872H104.579H108.298L108.338 42.4865C108.338 42.4865 106.92 40.323 104.377 33.4741C102.267 27.7872 98.6057 18.0701 98.6057 18.0681L98.6097 18.076ZM44.2833 4.2041C44.2833 4.2041 44.4083 4.20014 44.6225 4.214H44.6403C45.1936 4.22983 45.7232 4.2813 46.2329 4.36444C46.2726 4.37038 46.3122 4.37631 46.3519 4.38621C46.5423 4.41986 46.7307 4.45549 46.9151 4.50102C47.0143 4.52477 47.1174 4.54853 47.2186 4.57624C47.2483 4.58614 47.2801 4.59405 47.3118 4.60394C47.5538 4.67322 47.7957 4.74845 48.0298 4.83357C48.0357 4.83752 48.0456 4.8395 48.0516 4.84346C48.3451 4.94837 48.6307 5.07307 48.9024 5.21163C48.9778 5.24528 49.0512 5.28488 49.1226 5.32644C49.2138 5.37197 49.305 5.41948 49.3923 5.4749C49.4657 5.51647 49.5371 5.56199 49.6104 5.60752C49.6779 5.64711 49.7433 5.68868 49.8068 5.73421C49.8127 5.73817 49.8187 5.74411 49.8246 5.74609C49.9615 5.83714 50.0944 5.93018 50.2213 6.03311C50.4791 6.22709 50.7231 6.43493 50.9591 6.66059C50.965 6.66652 50.971 6.67247 50.9769 6.67841C51.1713 6.86645 51.3557 7.06241 51.5283 7.26431C51.6136 7.36329 51.6969 7.46424 51.7742 7.56717C51.7782 7.57113 51.7802 7.57311 51.7802 7.57707C51.8654 7.68 51.9408 7.78492 52.0102 7.89181C52.0955 8.00661 52.1729 8.12538 52.2462 8.24612C52.2502 8.25206 52.2562 8.26196 52.2581 8.26789C52.3038 8.33519 52.3454 8.40447 52.3851 8.47573C52.397 8.49949 52.4128 8.5272 52.4307 8.55491C52.5061 8.68754 52.5794 8.8261 52.6449 8.96664C52.6806 9.04186 52.7183 9.11707 52.754 9.19625C52.7936 9.28335 52.8333 9.3744 52.869 9.46743C52.9225 9.59808 52.9721 9.72675 53.0177 9.85739C53.0415 9.92469 53.0634 9.99001 53.0852 10.0593C53.1149 10.1444 53.1427 10.2315 53.1645 10.3226C53.2042 10.4532 53.2379 10.5858 53.2676 10.7145C53.2914 10.8075 53.3133 10.9045 53.3311 11.0015L53.341 11.047C53.3589 11.1262 53.3747 11.2074 53.3866 11.2885C53.3906 11.2984 53.3906 11.3103 53.3926 11.3222C53.4144 11.4409 53.4323 11.5617 53.4461 11.6824C53.462 11.7972 53.4739 11.916 53.4858 12.0328C53.4918 12.0961 53.4977 12.1575 53.5017 12.2208C53.5136 12.3456 53.5195 12.4722 53.5255 12.5989C53.5294 12.6741 53.5314 12.7474 53.5314 12.8226C53.5393 12.9493 53.5374 13.0779 53.5374 13.2086C53.5374 13.2759 53.5374 13.3452 53.5354 13.4125C53.5255 13.646 53.5116 13.8737 53.4898 14.0993C53.4739 14.2597 53.4541 14.416 53.4283 14.5744C53.4104 14.6932 53.3886 14.808 53.3668 14.9228C53.343 15.0336 53.3192 15.1484 53.2914 15.2613C53.2379 15.4869 53.1764 15.7086 53.103 15.9264C53.0792 15.9996 53.0554 16.0689 53.0296 16.1382C52.99 16.2431 52.9483 16.346 52.9047 16.4489C52.863 16.5519 52.8174 16.6508 52.7718 16.7538C52.7619 16.7716 52.7559 16.7874 52.748 16.8052C52.7064 16.8923 52.6607 16.9814 52.6151 17.0645C52.3335 17.6109 51.9844 18.1255 51.568 18.6125C50.9393 19.2657 50.2094 19.7803 49.4002 20.194C46.6791 21.5935 43.4464 21.7479 42.2366 21.7479H39.0732C39.0732 21.6074 39.0732 21.4708 39.0732 21.3362C39.0891 17.9929 39.1109 12.783 39.1109 9.18239C39.1109 7.12377 39.1664 5.49272 39.2438 4.21202H44.2853L44.2833 4.2041ZM86.1269 5.46105L86.8745 7.48008L93.2707 24.7052L93.3222 24.8457H79.3261L79.3757 24.7052L86.1269 5.46105Z"
        fill="white"
      />
    </svg>

    <svg
      width="248"
      height="20"
      viewBox="0 0 248 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7.22526 9.91691C7.20939 11.4668 5.58111 12.7059 3.58591 12.6862C1.59072 12.6664 -0.0157498 11.3956 0.000116524 9.84566C0.0159829 8.29575 1.64427 7.05661 3.63946 7.07641C5.63465 7.0962 7.24112 8.36701 7.22526 9.91691Z"
        fill="white"
      />
      <path
        d="M30.1662 0.976562H32.7425V1.07752L24.9343 18.7797H23.0898L15.2578 1.07752V0.976562H17.8341L24.3274 16.6636H24.4286L30.1643 0.976562H30.1662Z"
        fill="white"
      />
      <path
        d="M25.0968 19.0284H22.931L15.0117 1.08081V0.732422H17.9986L24.3669 16.1167L29.9915 0.732422H32.9863L32.9665 1.17978L25.0948 19.0284H25.0968ZM23.2523 18.5375H24.7755L32.4112 1.2253H30.3386L24.6029 16.9124H24.1646L17.6713 1.2253H15.5908L23.2523 18.5375Z"
        fill="white"
      />
      <path
        d="M44.2344 0.976562H46.6342V18.7817H44.2344V0.976562Z"
        fill="white"
      />
      <path
        d="M46.8838 19.0284H43.9922V0.734375H46.8838V19.0284ZM44.4821 18.5375H46.39V1.22527H44.4821V18.5375Z"
        fill="white"
      />
      <path
        d="M70.5662 0.976562H72.966V18.7817H70.7169L68.0395 15.0999L61.445 4.98692H61.2943V18.7817H58.8945V0.976562H61.1436L63.2399 4.25452L70.4909 16.1332H70.5662V0.976562Z"
        fill="white"
      />
      <path
        d="M73.2118 19.0284H70.5918L67.841 15.2457L61.5401 5.58401V19.0284H58.6484V0.734375H61.2783L63.448 4.12714L70.3221 15.3862V0.734375H73.2137V19.0284H73.2118ZM70.8437 18.5375H72.7219V1.22527H70.814V16.3819H70.3538L63.0315 4.38447L61.0086 1.22527H59.1403V18.5375H61.0482V4.74473H61.5797L61.6531 4.85558L68.2476 14.9685L70.8457 18.5395L70.8437 18.5375Z"
        fill="white"
      />
      <path
        d="M87.6166 17.7227H98.2034V18.7817H85.2148V0.976562H97.9V2.03557H87.6166V9.32388H97.3704V10.3829H87.6166V17.7227Z"
        fill="white"
      />
      <path
        d="M98.4511 19.0284H84.9727V0.734375H98.1497V2.28428H87.8663V9.08366H97.6201V10.6336H87.8663V17.4805H98.4531V19.0304L98.4511 19.0284ZM85.4625 18.5375H97.9593V17.9694H87.3724V10.1407H97.1263V9.57259H87.3724V1.7914H97.6558V1.2233H85.4625V18.5355V18.5375Z"
        fill="white"
      />
      <path
        d="M122.107 0.976562H124.659V1.07752L118.013 12.0733V18.7817H115.587V12.0219L108.941 1.07752V0.976562H111.518L117.279 10.66H117.305L122.107 0.976562Z"
        fill="white"
      />
      <path
        d="M118.259 19.0284H115.341V12.0924L108.695 1.15005V0.734375H111.658L117.273 10.1724L121.952 0.734375H124.903V1.15005L124.867 1.20945L118.257 12.1459V19.0304L118.259 19.0284ZM115.833 18.5375H117.767V12.0073L117.803 11.9479L124.284 1.2233H122.259L117.458 10.9067H117.164L117.067 10.786L111.377 1.2233H109.314L115.831 11.9558V18.5375H115.833Z"
        fill="white"
      />
      <path
        d="M142.522 0.976562L150.354 18.6807V18.7817H147.726L145.856 13.4352H137.365L135.445 18.7817H132.867V18.6807L140.675 0.976562H142.52H142.522ZM137.772 12.3762H145.453L141.84 2.96986H141.738L137.772 12.3762Z"
        fill="white"
      />
      <path
        d="M150.602 19.0284H147.553L145.683 13.6839H137.542L135.622 19.0284H132.625L132.645 18.583L140.517 0.734375H142.682L150.602 18.682V19.0284ZM147.902 18.5375H150.022L142.363 1.22527H140.84L133.204 18.5375H135.277L137.196 13.193H146.034L147.904 18.5375H147.902ZM145.81 12.6249H137.401L141.576 2.72768H142.01L145.812 12.6249H145.81ZM138.143 12.134H145.096L141.782 3.50559L138.143 12.134Z"
        fill="white"
      />
      <path
        d="M176.431 18.657V18.7817H173.728C173.196 18.2532 172.817 16.8398 172.615 14.7456C172.438 12.7028 171.554 11.3409 170.392 10.9629H164.251V18.7797H161.852V0.974609H168.902C173.374 0.974609 175.774 2.81549 175.774 6.01822C175.774 8.43908 174.358 9.92762 172.288 10.4561V10.5076C174.184 11.0618 174.84 12.5504 174.991 14.3655C175.219 16.9883 175.699 18.073 176.431 18.653V18.657ZM173.323 6.02219C173.323 3.55184 171.528 2.0633 168.902 2.0633H164.253V9.88012H168.902C172.137 9.88012 173.323 8.26688 173.323 6.02219Z"
        fill="white"
      />
      <path
        d="M176.673 19.0284H173.62L173.549 18.9552C172.978 18.3851 172.579 16.9777 172.367 14.7706C172.208 12.9476 171.437 11.5897 170.348 11.2096H164.493V19.0264H161.602V0.732422H168.898C173.422 0.732422 176.016 2.66041 176.016 6.0215C176.016 8.17711 174.913 9.78045 172.968 10.5049C174.326 11.1324 175.07 12.3973 175.233 14.349C175.435 16.6729 175.824 17.8665 176.581 18.4643L176.675 18.5375V19.0264L176.673 19.0284ZM173.833 18.5375H175.945C175.284 17.7913 174.927 16.5343 174.741 14.3906C174.572 12.3597 173.769 11.2017 172.212 10.7464L172.036 10.695V10.3208L172.22 10.2239C174.35 9.6795 175.522 8.18701 175.522 6.02348C175.522 2.92961 173.168 1.2253 168.896 1.2253H162.091V18.5375H163.999V10.7207L170.461 10.7326C171.78 11.1621 172.674 12.6566 172.853 14.7271C173.097 17.2608 173.545 18.1951 173.829 18.5375H173.833ZM168.898 10.1269H164.003V1.81716H168.898C171.734 1.81716 173.565 3.46802 173.565 6.0215C173.565 7.89405 172.756 10.1269 168.898 10.1269ZM164.495 9.63596H168.898C171.669 9.63596 173.073 8.42058 173.073 6.0215C173.073 3.62241 171.472 2.30806 168.898 2.30806H164.495V9.63596Z"
        fill="white"
      />
      <path
        d="M203.745 9.85437C203.745 15.7056 200.46 18.7817 194.748 18.7817H188.18V0.976562H194.748C200.661 0.976562 203.745 4.25453 203.745 9.85437ZM201.218 9.85437C201.218 4.93743 199.122 2.06131 194.75 2.06131H190.581V17.6969H194.75C199.905 17.6969 201.218 13.6371 201.218 9.85437Z"
        fill="white"
      />
      <path
        d="M194.744 19.0284H187.93V0.734375H194.744C200.704 0.734375 203.986 3.97473 203.986 9.85763C203.986 15.7405 200.704 19.0284 194.744 19.0284ZM188.422 18.5375H194.744C200.387 18.5375 203.495 15.4555 203.495 9.85763C203.495 4.25977 200.387 1.22527 194.744 1.22527H188.422V18.5375ZM194.744 17.9436H190.329V1.81714H194.744C199.137 1.81714 201.458 4.59627 201.458 9.85565C201.458 15.115 199.074 17.9436 194.744 17.9436ZM190.821 17.4528H194.744C199.887 17.4528 200.966 13.3217 200.966 9.85565C200.966 6.38965 199.887 2.30803 194.744 2.30803H190.821V17.4528Z"
        fill="white"
      />
      <path
        d="M230.293 14.067C230.293 17.2698 227.463 19.1107 222.789 19.1107C217.585 19.1107 214.98 15.7318 214.98 12.6795H217.356C217.356 14.4708 218.973 18.0517 223.168 18.0517C225.77 18.0517 227.816 16.4642 227.816 14.2947C227.816 12.3034 226.073 11.1672 223.37 10.6881C220.187 10.1319 215.587 9.70436 215.587 5.69401C215.587 2.94456 218.316 0.650391 222.511 0.650391C227.11 0.650391 229.461 3.19793 229.461 6.52537H227.11C227.11 4.73398 226.252 1.70741 222.511 1.70741C219.756 1.70741 218.114 3.32066 218.114 5.28822C218.114 8.0634 221.045 8.56618 224.153 9.02145C227.666 9.54996 230.293 10.7871 230.293 14.0651V14.067Z"
        fill="white"
      />
      <path
        d="M222.789 19.3555C217.557 19.3555 214.734 15.9172 214.734 12.6788V12.4333H217.602V12.6788C217.602 14.4662 219.234 17.8056 223.167 17.8056C225.678 17.8056 227.57 16.2952 227.57 14.292C227.57 12.5581 226.142 11.4258 223.326 10.929C223.082 10.8874 222.83 10.8439 222.572 10.8023C219.52 10.2975 215.341 9.60275 215.341 5.69533C215.341 2.63115 218.356 0.40625 222.511 0.40625C226.949 0.40625 229.706 2.7519 229.706 6.5267V6.77214H226.864V6.5267C226.864 5.76461 226.654 1.95616 222.511 1.95616C220.067 1.95616 218.36 3.32594 218.36 5.28954C218.36 7.74009 220.775 8.28245 224.189 8.78127C226.916 9.193 230.539 10.1867 230.539 14.0664C230.539 17.378 227.642 19.3555 222.789 19.3555ZM215.232 12.9243C215.367 15.9152 217.955 18.8646 222.789 18.8646C227.334 18.8646 230.047 17.0712 230.047 14.0664C230.047 11.3644 228.219 9.88382 224.117 9.26624C221.19 8.83868 217.87 8.35372 217.87 5.28954C217.87 3.03694 219.778 1.46526 222.513 1.46526C225.964 1.46526 227.267 4.00489 227.354 6.28125H229.212C229.093 2.9538 226.551 0.89716 222.515 0.89716C218.479 0.89716 215.837 2.91619 215.837 5.69533C215.837 9.18706 219.619 9.81454 222.658 10.3193C222.917 10.3629 223.171 10.4044 223.417 10.446C227.261 11.1269 228.068 12.9144 228.068 14.294C228.068 16.5763 225.964 18.2984 223.173 18.2984C219.066 18.2984 217.263 14.9294 217.124 12.9262H215.238L215.232 12.9243Z"
        fill="white"
      />
      <path
        d="M247.214 9.91691C247.198 11.4668 245.569 12.7059 243.574 12.6862C241.579 12.6664 239.973 11.3956 239.988 9.84566C240.004 8.29575 241.633 7.05661 243.628 7.07641C245.623 7.0962 247.229 8.36701 247.214 9.91691Z"
        fill="white"
      />
    </svg>

    <div>Pioneering India's Legacy,Pouring Fratelli on the World Stage.</div>
    <div>
      <div>Copyright © 2025 Fratelli - All Rights Reserved</div>
      <div>Handcrafted and Developed by ADD Vector</div>
    </div>
  </footer>

{% schema %}
{
  "name": "New Footer Mobile",
  "settings": []
}
{% endschema %}