

/* Custom Header Styles */

/* Make header sticky and transparent on home page */
.template-index .Header {
    background: unset;
    box-shadow: none;
}
.template-index .Header__Wrapper {
    background: rgba(0, 0, 0, 0.25);
}
.template-index .shopify-section--header {
    position: fixed;
}

.template-index .Header .HorizontalList__Item > a,
.template-index .Header .HorizontalList__Item .Heading,
.template-index .Header .Header__Icon .Icon,
.template-index .Header .Header__LogoLink,
.template-index .Header .Header__SecondaryNav .Link--primary {
  color: #FFFFF8 !important;
  fill: #FFFFF8 !important;
}

/* Mobile menu button color */
.template-index .Header__Icon .Icon--nav {
    fill: #FFFFF8 !important;
  }
body {
    background-color: #000 !important;
}
@media screen and (max-width: 768px) {
    .template-index .Header__FlexItem--fill {
        flex: 0 !important;
    }
}
    