{% comment %} {{ content_for_index }} {% endcomment %}
{% comment %} {% section 'fullscreen_video' %} {% endcomment %}
 <link rel="preload" as="video" href="https://cdn.shopify.com/videos/c/o/v/f0dcad83f2154dc894233014be00bb65.mp4" type="video/mp4">
 <link rel="preload" as="video" href="https://cdn.shopify.com/videos/c/o/v/6686c0f38a224b8cafef4287410b1660.mp4" type="video/mp4">
<link rel="preload" as="video" href="https://cdn.shopify.com/videos/c/o/v/6c00be05195c41fca4970cfd73d96f8f.mp4" type="video/mp4">
<link rel="preload" as="video" href="https://cdn.shopify.com/videos/c/o/v/25e8f24bf08841a6aaa2e57a7ad482f2.mp4" type="video/mp4">
<link rel="preload" as="video" href="https://cdn.shopify.com/videos/c/o/v/5a1e96ee8ce0416b9ab384b9c7b9be6e.mp4" type="video/mp4">
{% section 'logo_mask' %}
{% section 'second_section' %}
<div class="mobile-only">
  {% section 'section-three' %}
  {% section 'section-four' %}
  {% section 'section-five' %}
  {% section 'section-six' %}
</div>
{% comment %} {% section 'first-video' %} {% endcomment %}
<div class="desktop-only">
  {% section 'wine-video-desktop' %}
</div>

{% comment %} <div class="mobile-only">
  {% section 'wine-video-mobile' %}
</div> {% endcomment %}

{% comment %} Show different sections for mobile and desktop {% endcomment %}
<div class="desktop-only">
    {% section 'vineyard-video' %}
</div>

{% comment %} <div class="mobile-only">
    {% section 'vineyard-video-mobile' %}
</div> {% endcomment %}

<div class="desktop-only">
  {% section 'fratelli-building' %}
</div>

{% comment %} <div class="mobile-only">
  {% section 'fratelli-building-mobile' %}
</div> {% endcomment %}

<div class="desktop-only">
  {% section 'last-video-desktop' %}
</div>

{% comment %} <div class="mobile-only">
  {% section 'last-video-mobile' %}
</div> {% endcomment %}
{% section 'insta-section' %}

<style>
  /* Hide mobile by default */
  .mobile-only { display: none; }
  
  /* Show mobile on small screens */
  @media (max-width: 767px) {
    .mobile-only { display: block; }
    .desktop-only { display: none; }
  }
  
  /* Show desktop on larger screens */
  @media (min-width: 768px) {
    .mobile-only { display: none; }
    .desktop-only { display: block; }
  }
  
</style>
<script>
  if ('scrollRestoration' in history) {
    history.scrollRestoration = 'manual';
  }

  window.addEventListener('beforeunload', function () {
    window.scrollTo(0, 0);
  });

  window.addEventListener('load', function () {
    window.scrollTo(0, 0);
  });

</script>

