{% section 'image-with-text-overlay' %}
<div class="our-story-section">
{% section 'text-with-image' %}
  
{% section 'image-with-text-overlay' %}
  
{% section 'image-with-text-overlay' %}
  
{% section 'text-with-image' %}
  
  	{% render 'social-media', class: 'Footer__Social', spacing: 'loose' %}
</div>

<style>
  .our-story-section {
    max-width: 767px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-top: -80px;
    position: relative;
    background: #fff;
    padding-top: 30px;
  }
  .our-story-section header.SectionHeader {
  	text-align: left;
  }
  .our-story-section .FeatureText__Content  {
  	max-width: 100%;
  }
  .our-story-section .FeatureText__Content h3.SectionHeader__SubHeading.Heading.u-h6 {
  	font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .our-story-section .FeatureText__Content h2.SectionHeader__Heading.Heading.u-h1 {
  	font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .our-story-section header.SectionHeader .SectionHeader__Description {
  	margin-right: 0 !important;
    max-width: 100% !important;
    margin-top: 15px;
  }
  .our-story-section header.SectionHeader .SectionHeader__Description p {
  	font-size: 16px;
  }
  .our-story-section #shopify-section-image-with-text-overlay {
  	padding: 10px 0px;
  }
  .our-story-section section.Section.Section--spacingNormal {
  	padding: 40px 0px;
  }
  .our-story-section #shopify-section-image-with-text-overlay {
  	padding: 0px 20px 60px 20px;
  }
  .our-story-section ul.Footer__Social.HorizontalList.HorizontalList--spacingLoose {
  	padding: 0px 20px;
  }
</style>